<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>%VAR:ec.services.servicename:.*%</contextName>
    <jmxConfigurator />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">

              <file>AppLog.log</file>

              <encoder>
                  <pattern>[%d{yyyy-MM-dd HH:mm:ss z}] [%X{IP}] [%mdc{txnId}] &lt;%t&gt; %c{15} - %p: %m %n</pattern>
              </encoder>

            </appender>

    <logger name="org.springframework.remoting.support.RemoteInvocationTraceInterceptor">
        <level value="WARN"/>
    </logger>
    
    <logger name="org.hibernate">
        <level value="INFO"/>
    </logger>
  
     <logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener">
        <level value="WARN" />
    </logger>
    
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
    
</configuration>
