<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Song's DB</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://image.flaticon.com/icons/svg/149/149646.svg" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Song's CRUD App
        </a>
    </nav>


    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Song Id</th>
                    <th scope="col">Song Name</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Action</th>

                </tr>
                </thead>
                <tbody  th:each="song : ${songs}">
                <tr>
                    <td th:text="${song.id}"></td>
                    <td th:text="${song.name}"></td>
                    <td th:text="${song.singer}"></td>
                    <td th:text="${song.year}"></td>
                    <td> <button type="button" class="btn btn-success">Edit</button> | <button type="button" class="btn btn-danger">Delete</button></td>
                </tr>
<!--                <tr>-->
<!--                    <th:block th:each="user : ${songs}" scope="row">1</th:block>-->
<!--&lt;!&ndash;                    <td>Mark</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>Otto</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>@mdo</td>&ndash;&gt;-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th scope="row">2</th>-->
<!--                    <td>Jacob</td>-->
<!--                    <td>Thornton</td>-->
<!--                    <td>@fat</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th scope="row">3</th>-->
<!--                    <td>Larry</td>-->
<!--                    <td>the Bird</td>-->
<!--                    <td>@twitter</td>-->
<!--                </tr>-->
                </tbody>
            </table>
        </div>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>