<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Song's DB</title>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://image.flaticon.com/icons/svg/149/149646.svg" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Song's CRUD App
        </a>
    </nav>


    <div class="card">
        <div class="card-header">

            <form action="#" th:action="@{/song}" method="post" th:object="${song}">

                <div class="form-group row">
                    <input type="hidden" th:field="*{songId}" class="form-control col-sm-6" id="songId"
                           aria-describedby="emailHelp" placeholder="Enter Song Name">
                    <label for="songName" class="col-sm-2 col-form-label">Song Name</label>
                    <input type="text" th:field="*{songName}" class="form-control col-sm-6" id="songName"
                           aria-describedby="emailHelp" placeholder="Enter Song Name">
                    <small th:if="${#fields.hasErrors('songName')}" th:errors="*{songName}"
                           style="color:orangered" class="form-text col-sm-3"></small>
                </div>
                <div class="form-group row">
                    <label for="artist" class="col-sm-2 col-form-label">Artist Name</label>
                    <input type="text" th:field="*{artist}" class="form-control col-sm-6" id="artist"
                           placeholder="Enter Artist Name">
                    <small th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"
                           style="color:orangered" class="form-text col-sm-3"></small>

                </div>


                <button type="submit" class="btn btn-primary">Add/Update Song</button>
            </form>
        </div>

        <div th:if="${songs.size() &gt;  0}" id="mainTableId" class="card-body">
            <h2>List of Song's</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Song Id</th>
                    <th scope="col">Song Name</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody  th:each="song : ${songs}">
                <tr>
                    <td th:text="${song.songId}"></td>
                    <td th:text="${song.songName}"></td>
                    <td th:text="${song.artist}"></td>
                    <td th:text="${song.createdDate}"></td>
                    <td>
                        <div class="row">
                            <form th:action="@{'/editSong/{id}'(id=${song.songId})}">
                                <input type="hidden" name="_method" value="GET"/>
                                <button type="submit" class="btn btn-info">EDIT</button>
                            </form>
                            <p> &nbsp; </p>
                            <form th:action="@{'/deleteSong/{id}'(id=${song.songId})}" th:method="POST">
                                <input type="hidden" name="_method" value="POST"/>
                                <button type="submit" class="btn btn-danger">DELETE</button>
                            </form>
                        </div>
                    </td>
                    <td>


                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>